{{#if this.showButton}}
<span class="topic-previous" >
  <DButton class="topic-previous-button" @action={{this.goToPreviousTopic}} @icon="chevron-left" @label={{if this.site.desktopView (theme-prefix "topic_previous_label")}} />
</span>
{{/if}}
